<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'registration' %>
    <%= javascript_include_tag :defaults %>
    <%= yield(:head) %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="container">
      <div id="header">
      	<%- flash.each do |key, msg| -%>
      	<div id="flash_<%= key %>">
      		<p><%= msg %> <%= link_to_function 'close', "Effect.Fade('flash_#{key}')" %></p>
      	</div>
      	<%- end -%>
      </div>
      <div id="content">
      	<%= yield  %>
      </div>
    </div>
    <div id="footer">
    	<p>&copy; 2010 | <%= link_to 'Terms', terms_path %> | <%= link_to 'Privacy', privacy_path %> </p>
    </div>
  </body>
</html>
